<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="None.NLA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <None.NLA.Properties.Settings>
            <setting name="AllowUpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowInStrings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpperCaseSeparator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnderscoreSeparator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataLocation" serializeAs="String">
                <value />
            </setting>
        </None.NLA.Properties.Settings>
    </userSettings>
</configuration>